# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.a
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Test coverage output
coverage*.*

# Editor directories and files
.idea
.vscode

# Windows thumbnail cache
Thumbs.db

# Mac DS_Store files
.DS_Store

# nfs
/.nfs*

# Dependency directories (remove the comment below to include it)
# vendor/

# Project files
/configs/app.yml
/cmd/test.go
/keqing
